.chef{
    margin-bottom: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.awards{
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;

}
.ambiance{
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
}
.sustainability{
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;

}